.edit-container {
  box-sizing: border-box;
  position: absolute;

  height: 100vh;
  width: 100%;
  background: rgba(242, 244, 244, 0.5);
  display: none;
  justify-content: center;
}

.show {
  display: flex;
}

.edit {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: max-content;
  border-radius: 0.5rem;
  margin-top: 5rem;
  background: var(--white);
}

.edit-header {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid var(--grey-2);
}

.edit-header h2 {
  margin: 0;
}

.edit-header i {
  color: var(--grey-2);
  font-size: 1.25rem;
}

.edit-input {
  border-bottom: 1.5px solid var(--grey-2);
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
}

.edit-input input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--grey-2);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.edit-btn {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
.edit-btn__close {
  background-color: var(--grey-2);
}

.edit-btn__save {
  background-color: var(--skyBlue);
}
