@import "./header.css";
@import "./button.css";
@import "./main.css";
@import "./itemTask.css";
@import "./icon.css";
@import "./footer.css";
@import "./edit.css";

:root {
  font-size: 16px;
  --blue: #3f51b5;
  --skyBlue: #2196f3;
  --black: #000000;
  --red: #ff0000;
  --grey-1: #90a4ae;
  --grey-2: #abb2b9;
  --white: #ffffff;
  --purple: #ede7f6;
  --yellow: #ffd54f;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container {
  width: 100%;
  margin-inline: 5rem;
  background: var(--purple);
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  width: min(95vw, 600px);
}
