.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--grey-1);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--black);
}

.list-item p {
  margin: 0;
}

.list-item-icons {
  display: flex;
  gap: 1rem;
}

.icon-check {
  width: 1.5rem;
}

.icon-edit {
  background-color: var(--yellow);
}
.icon-delete {
  background-color: var(--red);
}

.icon-delete i {
  color: var(--white);
}
